<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio suscipit
        exercitationem, iste aspernatur voluptatibus natus nostrum, voluptatem
        minima minus praesentium quos velit, quibusdam ipsam dolores veniam
        illum consequuntur illo. Hic at, delectus est, ea magni vero enim beatae
        nobis laboriosam ex quam alias, eius nostrum saepe blanditiis sunt
        corrupti illum?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio suscipit
        exercitationem, iste aspernatur voluptatibus natus nostrum, voluptatem
        minima minus praesentium quos velit, quibusdam ipsam dolores veniam
        illum consequuntur illo. Hic at, delectus est, ea magni vero enim beatae
        nobis laboriosam ex quam alias, eius nostrum saepe blanditiis sunt
        corrupti illum?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio suscipit
        exercitationem, iste aspernatur voluptatibus natus nostrum, voluptatem
        minima minus praesentium quos velit, quibusdam ipsam dolores veniam
        illum consequuntur illo. Hic at, delectus est, ea magni vero enim beatae
        nobis laboriosam ex quam alias, eius nostrum saepe blanditiis sunt
        corrupti illum?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
